@charset "UTF-8";
/*!
* author : JmingZI
* date : 2015年11月3日 11:29:23
* blog : ymblog.net
*/
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/base.scss */
body {
  font-family: Michroma,'Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','Microsoft Yahei',sans-serif,Times;
  font-size: 14px;
  overflow: hidden;
}

/* line 24, ../sass/base.scss */
.cl {
  *zoom: 1;
}
/* line 27, ../sass/base.scss */
.cl:after, .cl:before {
  content: ".";
  display: block;
  clear: both;
  height: 0px;
  overflow: hidden;
}

/* line 36, ../sass/base.scss */
a {
  text-decoration: none;
}
/* line 38, ../sass/base.scss */
a:link, a:visited {
  color: gray;
}
/* line 42, ../sass/base.scss */
a:hover, a:active {
  color: #1a1a1a;
}

/* line 48, ../sass/base.scss */
.hide {
  display: none;
}

/* line 51, ../sass/base.scss */
.disabled {
  opacity: 0.7;
}

/* line 55, ../sass/base.scss */
.btn {
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  color: #fff !important;
}

/* line 63, ../sass/base.scss */
.btn-red {
  background: #FF3366;
  -moz-box-shadow: 0px 1px 1px #cc0033;
  -webkit-box-shadow: 0px 1px 1px #cc0033;
  box-shadow: 0px 1px 1px #cc0033;
}
/* line 66, ../sass/base.scss */
.btn-red:hover {
  background: #ff668c;
}

/* line 70, ../sass/base.scss */
.btn-blue {
  background: #00a2ca;
  -moz-box-shadow: 0px 1px 1px #005064;
  -webkit-box-shadow: 0px 1px 1px #005064;
  box-shadow: 0px 1px 1px #005064;
}
/* line 73, ../sass/base.scss */
.btn-blue:hover {
  background: #00cbfd;
}

/* line 77, ../sass/base.scss */
.btn-default {
  background: #cdcdcd;
  -moz-box-shadow: 0px 1px 1px gray;
  -webkit-box-shadow: 0px 1px 1px gray;
  box-shadow: 0px 1px 1px gray;
}
/* line 80, ../sass/base.scss */
.btn-default:hover {
  background: #b3b3b3;
}

/* line 86, ../sass/base.scss */
#modal {
  position: absolute;
  background: #fff;
  z-index: 10;
  left: 50%;
  top: 50%;
}

/* line 93, ../sass/base.scss */
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  filter: Alpha(opacity=50);
  z-index: 9;
}

/* line 104, ../sass/base.scss */
input {
  border: 1px #cdcdcd solid;
  padding: 0px 0px 0px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 108, ../sass/base.scss */
input:focus {
  border: 1px #00a2ca solid;
  background: #caf5ff;
}

/*滚动条*/
/* line 115, ../sass/base.scss */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* line 116, ../sass/base.scss */
::-webkit-scrollbar-button {
  display: none;
}

/* line 117, ../sass/base.scss */
::-webkit-scrollbar-track {
  display: none;
}

/* line 118, ../sass/base.scss */
::-webkit-scrollbar-track-piece {
  background: #f1f1f1;
}

/* line 119, ../sass/base.scss */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}

/* line 120, ../sass/base.scss */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* line 121, ../sass/base.scss */
::-webkit-resizer {
  background: #fff;
}
