
$topHeight : 70px !default;

$mainWidth : 960px !default;

// $msgboxWidth : 800px;
$msgboxHeight : 600px !default;

$msgLeftWidth : 750px;

$msglistHeight : 400px;

$toolbarHeight : 30px;

$editorHeight : 130px;

$setBoxWidth : 400px;
$setBoxHeight : 150px;

$expressionBoxW : 430px;
$expressionBoxH : 240px;

$bgW : 350px;
$bgH : 150px;