@charset "utf-8";
@import "base";
@import "config";
@import "compass/css3";
html,body{
	width: 100%;height: 100%;overflow: hidden;background: #eee;
}
.top{
	width: 100%;
	height: $topHeight;
	border-bottom: 1px lighten($gray, 20%) solid;
	background: #fff;
	.logo{
		width: $mainWidth;
		height: inherit;
		margin: 0px auto;
	}
	@at-root h1{
		font-size: 30px;
		font-weight: bold;
		line-height: $topHeight;
		small{
			font-size: 12px;
			color: $gray;
		}
	}
}
.setName{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff;
	z-index: 100;
	.setBox{
		width: $setBoxWidth;
		height: $setBoxHeight;
		position: absolute;
		margin-left: -($setBoxWidth / 2);
		margin-top : -($setBoxHeight);
		left: 50%;
		top: 50%;
	}
	.inputName{
		width: 200px;
		height: 30px;
	}
	p{
		margin-bottom: 10px;
	}
}
.mask{
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.7);
	z-index: 101;
	p{
		width: 100%;
		text-align: center;
		vertical-align: middle;
		color: #fff;
		padding-top: 300px;
	}
}
.msgbox{
	// width: $msgboxWidth;
	width: $mainWidth;
	height: $msgboxHeight;
	margin: 50px auto;
	border: 1px lighten($gray, 30%) solid;
	background: rgba(255,255,255,0.8);
	@include border-radius(5px);
	@include box-shadow(5px 5px 5px lighten($gray, 30%));
	.left{
		width: $msgLeftWidth;
		height: inherit;
		float: left;
	}
	.right{
		float: left;
		width: $mainWidth - $msgLeftWidth;
		height: inherit;
		background: rgba(220,220,220,0.8);
	}
	.msglist,
	.toolbar,
	.editor{
		margin: 10px auto;
	}
	.msglist{
		width: 97%;
		height: $msglistHeight;
		overflow-x:hidden;
		overflow-y:auto;  
	}
	.toolbar{
		width: 97%;
		height: $toolbarHeight;
		border:1px lighten($gray, 45%) solid;
		position: relative;
		@include border-radius(3px);
		.changebg,
		.changeWordColor,
		.addLook{
			color: $mainColor;
			line-height: $toolbarHeight;
			padding-left: 10px;
		}
		.bgBox,
		.expressionBox{
			position: absolute;
			padding: 10px;
			background: #fff;
			@include border-radius(3px);
			@include box-shadow(0px 0px 5px rgba(0,0,0,0.3));
			img{
				cursor: pointer;
				margin-left: 2px;
			}
		}
		.bgBox{
			width: $bgW;
			height: $bgH;
			left: 193px;
			padding-right: 0px;
			top : -($bgH + 25);
			img{
				margin-right: 10px;
				margin-bottom: 10px;
			}
		}
		.expressionBox{
			width: $expressionBoxW;
			height: $expressionBoxH;
			top: -($expressionBoxH + 25);
			left: 0px;
		}
		.colorBox{
			margin-left: 10px;
			vertical-align: -2px;
			display: inline-block;
			width: 30px;
			padding: 0px;
			border: none;
			background-color: transparent;
		}
	}
	.msglist li{
		margin-top: 13px;
		padding-bottom: 13px;
		border-bottom: 1px lighten($gray, 45%) dashed;
	}
	.alertMsg{
		p{	
			text-align: center;
			color: $gray;
		}
	}
	.name{
		color: $mainColor;
	}
	.me .name{
		color: $errorColor;
		img{
			float: right;
			margin-left: 10px;
		}
		span{
			vertical-align: -15px;
		}
	}
	.me .content,
	.me .name{
		text-align: right;
	}
	.admin .name{
		color : #009966;
	}
	.name span{
		vertical-align: 15px;
		padding-left: 10px;
	}
	.content{
		line-height: 25px;
		.expre{
			vertical-align: -5px;
		}
	}
	.editor{
		width: 97%;
		height: $editorHeight;
		position: relative;
		background: transparent;
	}
	#chat-content{
		width: 100%;
		height: 100%;
		border: none;
		padding: 0px;
		line-height: 25px;
		font-size: 14px;
		font-family: inherit;
		background: transparent;
		&:focus{
			border: none;
			outline: 0px;
		}
	}
	.send{
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
	.people{
		margin: 10px;
		overflow-x:hidden;
		overflow-y:auto;
		ul{
			margin-left: 10px;
		}
		li{
			line-height: 30px;
			span{
				font-size: 12px;
				float: right;
			}
		}
	}
	.info-me{
		width: 100%;
		height: $mainWidth - $msgLeftWidth;
		border-bottom: 1px lighten($gray, 30%) solid;
		text-align: center;
		img{
			margin-top: 10px;
			margin-bottom: 20px;
			border: 1px lighten($gray, 35%) solid;
		}
		p{
			text-align: left;
			text-indent: 2em;
			line-height: 20px;
		}
	}
}
.copy{
	text-align: center;
	font-size: 12px;
	color: $gray;
}	

@media screen and (max-width: 1400px) {
	.msgbox{
		height: 400px;
		.msglist{
			height: 250px;
		}
		.editor{
			height: 80px;
		}
	}
}